@import "./normalize.css";

*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --color-background: #202020;
  --color-light__background: #2b2b2b;
}

/* Typography */
::selection {
  background: #007bff;
}

html {
  font-size: 62.5%;
}

body {
  color: #d1d1d1;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
}

h1,
h2,
h3,
h4 {
  font-family: serif;
}

h1,
h2,
h3 {
  color: #fff;
}

h1 {
  font-size: 7.2rem;
}

h2 {
  font-size: 3.2rem;
  line-height: 1.1875;
}
h3 {
  font-size: 2.8rem;
  font-weight: 700;
}
h4 {
  font-size: 2.8rem;
}

/* Links */
a {
  text-decoration: none;
}

/* Buttons */
body {
  background: var(--color-light__background);
  padding: 4rem;
}

.btn {
  padding: 1.5rem 3rem;
  text-transform: uppercase;
  white-space: nowrap;
  cursor: pointer;
  border-radius: 30px;
  font-weight: 700;
  line-height: 4;
  text-align: center;
  border: 0;
}

.btn--white {
  background: #fff;
  color: #333;
  border: 2px solid #fff;
  transition: 0.4s ease-out;
}

.btn--white:hover {
  background: var(--color-background);
  color: #fff;
  border: 2px solid #fff;
}

.btn--transparent {
  background: var(--color-background);
  color: #fff;
  border: 2px solid #fff;
  transition: 0.4s ease-in;
}

.btn--transparent:hover {
  background: #fff;
  color: #333;
}

.btn--grey {
  background: #4e4e4e;
  color: #fff;
  transition: 0.3s ease-in;
}

.btn--grey:hover {
  background: #fff;
  color: #333;
}
