@import "./normalize.css";

*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --color-background: #202020;
  --color-light__background: #2b2b2b;
}

/* Typography */
::selection {
  background: #007bff;
}

html {
  font-size: 62.5%;
}

body {
  color: #d1d1d1;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
}
body {
  background: var(--color-background);
  padding: 10rem;
}

h1,
h2,
h3 {
  font-family: serif;
}

h1,
h2,
h3 {
  color: #fff;
}

h1 {
  font-size: 7.2rem;
}

h2 {
  font-size: 3.2rem;
  line-height: 1.1875;
}
h3 {
  font-size: 2.8rem;
  font-weight: 700;
}
h4 {
  font-size: 2.8rem;
}

/* Links */
a {
  text-decoration: none;
}

/* Buttons */

.btn {
  padding: 1.5rem 3rem;
  text-transform: uppercase;
  white-space: nowrap;
  cursor: pointer;
  border-radius: 30px;
  font-weight: 700;
  line-height: 4;
  text-align: center;
  border: 0;
}

.btn--white {
  background: #fff;
  color: #333;
  border: 2px solid #fff;
  transition: 0.4s ease-out;
}

.btn--white:hover {
  background: var(--color-background);
  color: #fff;
  border: 2px solid #fff;
}

.btn--transparent {
  background: var(--color-background);
  color: #fff;
  border: 2px solid #fff;
  transition: 0.4s ease-in;
}

.btn--transparent:hover {
  background: #fff;
  color: #333;
}

.btn--grey {
  background: #4e4e4e;
  color: #fff;
  transition: 0.3s ease-in;
}

.btn--grey:hover {
  background: #fff;
  color: #333;
}

/* Lists */
.list {
  list-style: none;
  padding-left: 0;
}

/* Grids */

.grid {
  display: grid;
  gap: 1rem;
}

@media screen and (min-width: 580px) {
  .grid--1x2 {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 770px) {
  .grid--1x2__big {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 1000px) {
  .grid--1x4 {
    grid-template-columns: repeat(4, 1fr);
  }

  .grid--1x3__big {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 1200px) {
  .grid--1x4__big {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* .container */
.container {
  width: 1140px;
  padding-right: 0 1.5rem;
  margin: 0 auto;
}

/* Intro */

.intro {
  text-align: center;
}

.intro__subtitle {
  font-weight: 600;
  display: block;
}

.intro__heading {
  font-weight: 700;
  margin: 0 0 1.5rem;
}

.intro__content {
  color: #d0d0d0;
  margin: 0;
}

/* Block */

.block {
  padding: 6rem 2rem;
}

.block--dark {
  background: var(--color-background);
}

.block--grey {
  background: var(--color-light__background);
}

/* Icons */
.icon-container {
  border: 1px solid rgba(255, 255, 255, 0.5);
  padding: 6rem;
  border-radius: 5px;
  text-align: center;
  color: #fff;
  transition: 0.3s ease-out;
}

.icon {
  font-size: 5.2rem;
  font-weight: 400;
  margin-bottom: 1.5rem;
}

.icon__content {
  margin: 0;
  font-weight: 600;
}

.icon-container:hover {
  background: #d1d1d112;
  border: 1px solid #d1d1d112;
}

/* Bar */
.skill {
  color: #fff;
  font-weight: 700;
  margin-bottom: 2.5rem;
}

.skill__line--bg {
  background: var(--color-light__background);
}
.skill__line--content {
  width: 70%;
  background: orangered;
  border-radius: 5px;
  height: 5px;
}

.skill__details {
  margin-top: 1.3rem;
  display: flex;
  justify-content: space-between;
}
