<div>
  <div class="intro">
    <div class="intro__title">
      <span class="intro__subtitle">Contact</span>
      <h2 class="intro__heading">Get in Touch</h2>
    </div>
    <p class="intro__content">
      Looking to collaborate or have any questions? Reach out to me directly,
      and let's create something great together. I’m always open to new
      opportunities and would love to connect!
    </p>
  </div>
  <div class="block block-dark contact">
    <h2>Say Something</h2>
    <article class="grid grid--1x2--big details">
      <form>
        <input type="text" placeholder="Name" />
        <input type="email" placeholder="Email" />
        <textarea name="msg" id="msg" rows="4" placeholder="Message"></textarea>
        <button class="btn btn--grey">Send Message</button>
      </form>
      <div class="info">
        <div class="details">
          <div class="details__icon">
            <i class="fa-solid fa-location-dot"></i>
          </div>
          <div class="details__content">
            <h4>Location</h4>
            <span>670, Parliament Street, Toronto, ON, Canada</span>
          </div>
        </div>
        <div class="details">
          <div class="details__icon">
            <i class="fa-regular fa-envelope"></i>
          </div>
          <div class="details__content">
            <h4>Email</h4>
            <span>navin20604@gmail.com</span>
          </div>
        </div>
        <div class="details">
          <div class="details__icon">
            <i class="fa-solid fa-phone"></i>
          </div>
          <div class="details__content">
            <h4>Contact Number</h4>
            <span>+14375997924</span>
          </div>
        </div>
      </div>
    </article>
  </div>
</div>
