<div class="block block--grey">
  <section class="container mySkills">
    <div class="intro">
      <div class="intro__title">
        <span class="intro__subtitle">Skill</span>
        <h2 class="intro__heading">Why Choose Me</h2>
      </div>
      <p class="intro__content">
        I specialize in creating responsive web applications using HTML, CSS,
        and JavaScript. My skills in React and Node.js ensure dynamic solutions.
        Let’s work together to achieve your goals!
      </p>
    </div>
    <article class="grid grid--1x2--big">
      <div class="skill-grid">
        <div class="skill">
          <div class="skill__line--bg">
            <div class="skill__line--content"></div>
          </div>
          <div class="skill__details">
            <div class="skill__name">HTML/CSS</div>
            <div class="skill__level">90%</div>
          </div>
        </div>
        <div class="skill">
          <div class="skill__line--bg">
            <div class="skill__line--content"></div>
          </div>
          <div class="skill__details">
            <div class="skill__name">JS</div>
            <div class="skill__level">70%</div>
          </div>
        </div>
      </div>
      <div class="skill-grid">
        <div class="skill">
          <div class="skill__line--bg">
            <div class="skill__line--content"></div>
          </div>
          <div class="skill__details">
            <div class="skill__name">Node.js</div>
            <div class="skill__level">70%</div>
          </div>
        </div>
        <div class="skill">
          <div class="skill__line--bg">
            <div class="skill__line--content"></div>
          </div>
          <div class="skill__details">
            <div class="skill__name">RESTful APIs</div>
            <div class="skill__level">60%</div>
          </div>
        </div>
      </div>
    </article>
  </section>
</div>
