<div class="grid grid--1x2__big grid--1x3__big grid--1x4__big">
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi nesciunt
    tempora rerum ipsam iusto sapiente ipsum beatae autem dignissimos dolore
    corrupti magnam nobis repellendus consectetur, dolorum unde impedit. Vero,
    voluptates.
  </p>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil non quidem
    repellendus illum impedit dolorem qui, blanditiis totam soluta vitae veniam
    voluptates sapiente consequuntur dolor ad facilis quibusdam tenetur dolores!
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti, impedit.
    Consequuntur ad quas aliquam illum tenetur est unde aspernatur velit itaque
    praesentium deserunt cumque sint perspiciatis doloribus, vitae magni natus.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsa, dolores. Rem
    corporis ullam magni odit? Ipsam, itaque iusto sapiente obcaecati laboriosam
    esse voluptate numquam nam error veniam maiores consequuntur.
    Exercitationem?
  </p>
</div>
