<div class="block block--dark">
  <div class="intro">
    <div class="intro__title">
      <span class="intro__subtitle">Portfolio</span>
      <h2 class="intro__heading">What I have Started?</h2>
    </div>
    <p class="intro__content">
      Explore my journey as a developer. From simple designs to full-fledged
      applications, I've continuously honed my skills to create innovative,
      responsive solutions that solve real-world challenges.
    </p>
  </div>
  <article class="works">
    <div class="grid grid--1x2--big">
      <picture>
        <source
          type="image/webp"
          srcset="images/everest.webp 1x, images/everest@2x.webp 2x"
        />
        <source
          type="image/jpg"
          srcset="images/everest.jpg 1x, images/everest@2x.jpg 2x"
        />
        <img class="works__image" src="images/everest@2x.jpg" alt="" />
      </picture>
      <div class="works__content">
        <span>
          <a href="/" class="work__logo-container">
            <img class="work__logo" src="images/nepal.svg" alt="" />
          </a>
        </span>
        <h4 class="works__heading">Nepal - Real Heaven</h4>
        <p>
          Nepal - Real Heaven is a responsive website developed using HTML and
          CSS, showcasing the breathtaking beauty of Nepal’s landscapes. The
          site is designed to provide an immersive experience for users,
          regardless of the device they’re using. It highlights the elegance of
          a minimal, clean interface while emphasizing fast load times and
          smooth navigation. This project demonstrates my ability to create
          aesthetically pleasing and fully responsive websites that perform well
          across different screen sizes.
        </p>
        <a
          href="https://navnpl.netlify.app/"
          class="btn btn--grey"
          target="_blank"
          >Visit Now</a
        >
      </div>
    </div>
    <div class="grid grid--1x2--big">
      <picture class="works__image">
        <source
          type="image/webp"
          srcset="images/everest.webp 1x, images/everest@2x.webp 2x"
        />
        <source
          type="image/jpg"
          srcset="images/everest.jpg 1x, images/everest@2x.jpg 2x"
        />
        <img class="works__image" src="images/everest@2x.jpg" alt="" />
      </picture>
      <div class="works__content">
        <span>
          <a href="/" class="work__logo-container">
            <img class="work__logo" src="images/hiring.png" alt="" />
          </a>
        </span>
        <h4 class="works__heading">The Hiring Hub</h4>
        <p>
          The Hiring Hub is a transformative recruitment platform designed to
          revolutionize the talent acquisition process at XYZ Corporation. Built
          with technologies like Node.js and MongoDB, this platform integrates
          job postings, candidate sourcing, and onboarding into a unified
          system. By incorporating AI-driven shortlisting and automated
          processes, it reduces the manual workload of HR teams and enhances the
          candidate experience. The Hiring Hub also includes tools for tracking
          performance metrics and planning succession, helping align talent
          management with the company's strategic goals. This project is set to
          modernize recruitment, ensuring efficiency and competitiveness in the
          job market.
        </p>
        <a href="/" class="btn btn--grey">On Development</a>
      </div>
    </div>
  </article>
</div>
