<section class="container">
  <div class="intro">
    <div class="intro__title">
      <span class="intro__subtitle">Service</span>
      <h2 class="intro__heading">What I do</h2>
    </div>
    <p class="intro__content">
      I create responsive web designs, integrate APIs, and manage databases
      while utilizing server-side scripting to deliver dynamic, user-friendly
      applications that enhance digital experiences for businesses.
    </p>
  </div>
  <div class="grid grid--1x2 grid--1x4">
    <div class="icon-container">
      <i class="fa-solid fa-laptop-code icon"></i>
      <h4 class="icon__content">Responsive Web Design</h4>
    </div>
    <div class="icon-container">
      <i class="icon fa-solid fa-route"></i>
      <h4 class="icon__content">API Integration</h4>
    </div>
    <div class="icon-container">
      <i class="icon fa-brands fa-node"></i>
      <h4 class="icon__content">Server-Side Scripting</h4>
    </div>
    <div class="icon-container">
      <i class="icon fa-solid fa-database"></i>
      <h4 class="icon__content">Database Management</h4>
    </div>
  </div>
</section>
